.tools/
tmp/
build/
dist/
*.class
*.log
.idea/
.vscode/
*.iml
nbproject/private/

# Archivos temporales de Microsoft Office
~$*

output/pdf/Guion_PA1_Equipo.pdf
output/pdf/Guion_PA1_5_Integrantes.pdf
output/presentations/Exposicion_PA1_Equipo.pptx
output/presentations/Exposicion_PA1_5_Integrantes.pptx
